{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>About Page | Blogs</title>
{% endblock title %}
    


{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="create-blog-form">
            <h1>Create a New Blog Post</h1>
            <form method="post" enctype="multipart/form-data" action="{% url 'create_blog' %}">
                {% csrf_token %}
                
                <!-- Title -->
                <div class="form-group">
                    <label for="title">Title</label>
                    {{form.title}}
                </div>

                <!-- Author -->
                <div class="form-group">
                    <label for="author">Author</label>
                    {{form.author}}
                </div>

                <!-- Author Designation -->
                <div class="form-group">
                    <label for="author_designation">Author Designation</label>
                    {{form.author_designation}}
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="description">Description</label>
                    {{form.description}}
                </div>

                <!-- Image -->
                <div class="form-group">
                    <label for="image">Blog Image</label>
                    {{form.image}}
                </div>

                <button type="submit" class="btn btn-primary">Submit Blog</button>
            </form>
        </div>
    </div>

</body>
</html>
{% endblock content %}





{% block script %}
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>

<script>
    ClassicEditor
      .create(document.querySelector('#id_description'))
      .then(editor => {
          console.log('Editor initialized', editor);
      })
      .catch(error => {
          console.error('Editor initialization error', error);
      });
  </script>
{% endblock script %}
    