{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home page</title>
{% endblock title %}
    



{% block content %}
<main class="main">
    <!--grid-layout-->
    <section class="m-top">
        <div class="container-fluid">
            <div class="row">
                {% for x in blogs %}
                    {% include 'blog-box.html' %}
                {% endfor %}
            </div>

            <!--pagination-->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="pagination list-inline">

                        {% if blogs.has_previous %}
                            <li class="pagination__item">
                                <a href="?page={{ blogs.previous_page_number }}" class="pagination__link">
                                    <i class="bi bi-arrow-left pagination__icon"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in blogs.paginator.page_range %}
                            {% if blogs.number == num %}
                                <li class="pagination__item pagination__item--active">
                                    <a href="?page={{ num }}" class="pagination__link">{{ num }}</a>
                                </li>
                            {% else %}
                                <li class="pagination__item">
                                    <a href="?page={{ num }}" class="pagination__link">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if blogs.has_next %}
                            <li class="pagination__item">
                                <a href="?page={{ blogs.next_page_number }}" class="pagination__link">
                                    <i class="bi bi-arrow-right pagination__icon"></i>
                                </a>
                            </li>
                        {% endif %}

                    </ul> 
                </div>
            </div> 
        </div>
    </section>


    <!--newslettre-->
    <section class="newslettre__section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-10 col-sm-11 m-auto">
                    <div class="newslettre">
                        <div class="newslettre__info ">
                            <h3 class="newslettre__title">Get The Best Blog Stories into Your inbox!</h3>
                            <p class="newslettre__desc"> Sign up for free and be the first to get notified about new posts. </p>
                        </div>
                        
                        <ul class="list-inline social-media social-media--layout-three">
                            <li class="social-media__item">
                                <a href="#" class="social-media__link" ><i class="bi bi-facebook"></i>Facebook</a>
                            </li>

                            <li class="social-media__item">
                                <a href="#" class="social-media__link"><i class="bi bi-instagram"></i>Instagram</a>
                            </li>
                            <li class="social-media__item">
                                <a href="#" class="social-media__link"><i class="bi bi-twitter-x"></i>Twitter</a>
                            </li>
                            <li class="social-media__item">
                                <a href="#" class="social-media__link"><i class="bi bi-youtube"></i>Youtube</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
    