
{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home page</title>
{% endblock title %}
    



{% block content %}
    <main class="main">
        <!--Login-->
        <section class="m-top mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto">
                    <div class="widget">
                        <h5 class="widget__title">Login</h5>
                        <form  action="#" class="widget__form" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <input type="text" class="form-control widget__form-input" placeholder="Username*" name="username" value="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control widget__form-input" placeholder="Password*" name="password" value="">
                            </div>
                           
                            
                            <div class="widget__form-btn">
                                <button type="submit" href="#" class="btn-custom">Login Now</button>
                            </div>
                            <p class="widget__form-text">Don't have an account?<a href="{% url 'signup' %}" class="widget__form-link">Create One</a> 
                            </p>
                        </form>
                    </div>
                    </div>

                </div>
                    
            </div>
        </section>        

        <!--newslettre-->
        <section class="newslettre__section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-11 m-auto">
                        <div class="newslettre">
                            <div class="newslettre__info ">
                                <h3 class="newslettre__title">Get The Best Blog Stories into Your inbox!</h3>
                                <p class="newslettre__desc"> Sign up for free and be the first to get notified about new posts. </p>
                            </div>

                            
                            
                            <ul class="list-inline social-media social-media--layout-three">
                                <li class="social-media__item">
                                    <a href="#" class="social-media__link" ><i class="bi bi-facebook"></i>Facebook</a>
                                </li>

                                <li class="social-media__item">
                                    <a href="#" class="social-media__link"><i class="bi bi-instagram"></i>Instagram</a>
                                </li>
                                <li class="social-media__item">
                                    <a href="#" class="social-media__link"><i class="bi bi-twitter-x"></i>Twitter</a>
                                </li>
                                <li class="social-media__item">
                                    <a href="#" class="social-media__link"><i class="bi bi-youtube"></i>Youtube</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
{% endblock content %}
